<!-- start content -->
<div id="content">
  <div class="post">
    <div id="flowchart">
    </div>
  </div>
</div>
<!-- end content -->
<!-- start sidebar -->
<div id="sidebar">
  <ul>
    <li id="calendar-bar">
    <div id="calendar">
    </div>
    </li>
  </ul>
</div>
<!-- end sidebar -->

<% content_for :bottom_js do %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= javascript_include_tag "jquery.ui" %>
<script type="text/javascript">
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Hour');
    data.addColumn('number', 'Total Flow');
    data.addColumn({type: 'string', role: 'tooltip'});
    data.addRows(24);
    for (var h = 0; h < 24; ++h)
      data.setValue(h, 0, h.toString());
    <% if params[:date] %>
      <% @flows["data"].each do |flow| %>
          data.setValue(<%= flow["hour"] %>, 1, <%= flow["incrementalTotal"] %>);
          data.setValue(<%= flow["hour"] %>, 2, "Hour: <%= flow["hour"] %>\nIncrement Total: <%= flow["incrementalTotal"] %>\nUpload: <%= flow["upload"] %>\nDownload: <%= flow["download"] %>");
      <% end %>
    <% else %>
      <% (0..Time.now.hour).each do |hour| %>
          data.setValue(<%= hour %>, 1, <%= @flows["data"][hour]["incrementalTotal"] %>);
          data.setValue(<%= hour %>, 2, "Hour: <%= hour %>\nIncrement Total: <%= @flows["data"][hour]["incrementalTotal"] %>\nUpload: <%= @flows["data"][hour]["upload"] %>\nDownload: <%= @flows["data"][hour]["download"] %>");
      <% end %>
    <% end %>

    var chart = new google.visualization.ColumnChart(document.getElementById('flowchart'));
    updateChartColor(data, chart, {width: 600, height: 400}, 5000, 5300);
  }

  function updateChartColor(data, chart, options, warningThreshold, overTheshold) {
    var view = new google.visualization.DataView(data);
    view.setColumns([0, {
          calc: function (dataTable, rowNum) { return (dataTable.getValue(rowNum, 1) < warningThreshold) ? dataTable.getValue(rowNum, 1) : null; },
          type: 'number',
          label: 'Normal',
        }, 2, {
          calc: function (dataTable, rowNum) { return (dataTable.getValue(rowNum, 1) >= warningThreshold && dataTable.getValue(rowNum, 1) < overTheshold) ? dataTable.getValue(rowNum, 1) : null; },
          type: 'number',
          label: 'Warning',
        }, 2, {
          calc: function (dataTable, rowNum) { return (dataTable.getValue(rowNum, 1) >= overTheshold) ? dataTable.getValue(rowNum, 1) : null; },
          type: 'number',
          label: 'Over',
        }, 2]);
    chart.draw(view, jQuery.extend({}, options, {colors: ['#3366CC', '#FFCC00', '#FF0033'], isStacked: true}));
  }

  $(document).ready(function() {
      $("#calendar").datepicker({
                        maxDate: '+0',
                        dateFormat: 'yy-mm-dd',
                        onSelect: function(dateText, inst) {
                          if (dateText != "<%= @flows["time"].strftime('%Y-%m-%d') %>") {
                            window.location.href = "<%= url_for(:action => 'show') %>?date="+dateText;
                          }
                        }}).datepicker('setDate', "<%= @flows["time"].strftime('%Y-%m-%d') %>");

      setInterval(refreshPage, 600000);
});
</script>
<% end %>
